.first-tab {
    .name {
        margin-bottom: 28px;
    }

    .nickname {
        margin-bottom: 20px;
    }

    .check {
        gap: 8px;
        p {
            margin: auto 0;
            @include font(16, $nunito);
            line-height: 18px;
            font-weight: 400;
        }
        input[type=checkbox] {
            width: 20px;
            height: 20px;
            border-radius: 2px;
        }
    }
    
    .info-flex {
        gap: 25px;
        margin-bottom: 28px;
        input[type=email] {
        width: 330px;
        @include responsive (mobileS) {
            width: 300px;
        }
        @include responsive (mobileL){
            width: 220px;
        }
        }
      
        input[type=text] {
            width: 155px;
        }
    }

    .birthday {
        margin-bottom: 45px;
        h2 {
            @include font(18px, $nunito);
            color: $inputColor;
            margin-bottom: 14px;
        }
        .selects {
            gap: 22px;
        }
        .select {
            flex-direction: column;
        }
        select {
            margin-top: 4px;
            outline: none;
            width: 115px;
            height: 40px;
            border: 2px solid #AAA;
            background-color: #FFF;
            border-radius: 4px;
        }
        input {
            width: 100px;
            height: 40px;
        }
    }
    
    form {
        max-width: 515px;      
    }

    .select-month {
        @include responsive(mobileS){
          width: 100px !important;
        }
    }
    
    .break{
        display: none;
        @include responsive(mobileL) {
            display: block;
            flex-basis: 100%;
            height: 0;
        }
    }

    #inputAge {
        @include responsive(mobileL) {
            width: 115px !important;
        }
    }
    .nextContainer {
        margin-bottom: 60px;
        margin-top: 43px;
        justify-content: flex-end;
        
        .btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80px;
            height: 40px;
            border: 2px solid $primaryColor;
            background-color: #FFF;
            color: $primaryColor;
            cursor: pointer;
        }
    }


}
    