.tab {
    h1 {
        @include font(18px, $inter);
        line-height: 24px;
        font-weight: 600;
        margin-top: 55px;
        margin-bottom: 35px;
    }

    &>div {
        display: table;
        margin: 0 auto;
    }

    ul {
        flex-direction: column;
        align-content: center;

        @include responsive (tablet) {
            flex-direction: row;
            align-content: none;
        }

        margin-bottom: 35px;

        li {
            @include responsive (mobileL) {
                width: 400px;
            }

            @include responsive (mobileS) {
                width: 300px;
            }

            text-align: center;
            padding: 13px 0;
            width: 170px;
            box-shadow: inset 0px -2px 0px #AAAAAA;
            @include font(16px, $nunito);
            cursor: pointer;
        }
    }

    label {
        @include font(14px, $nunito);
        color: $inputColor;

    }

    input {
        margin-top: 4px;

        @include responsive (mobileL) {
            width: 400px;
        }

        @include responsive (mobileS) {
            width: 300px;
        }
    }

    #error-email{
        margin: 0;
        padding: 0;
    }

    input::placeholder {
        @include font(16px, $nunito);
        color: $inputColor;
    }

    .name {
        margin-bottom: 28px;
    }

    .nickname {
        margin-bottom: 20px;
    }

    .check {
        gap: 8px;

        label {
            margin: auto 0;
            @include font(16px, $nunito);
            font-size: 16px;
            cursor: pointer;
            color: $textColor;
        }

        input[type=checkbox] {
            appearance: none;
            margin-top: 0px;
            margin-left: 0px;
            margin-bottom: 0px;
            margin-right: 0px;
            border-right-width: 2px;
            border-bottom-width: 2px;
            border-left-width: 2px;
            border-top-width: 2px;
            padding-top: 0px;
            padding-left: 0px;
            padding-bottom: 0px;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        input[type=checkbox]:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            background: $primaryColor;
            opacity: 1;
            transition: all 600ms ease-in-out;
        }

        .validation:before {
            

        }

        input[type=checkbox]:checked:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            opacity: 0;

        }

    }

    .info-flex {
        gap: 25px;
        margin-bottom: 28px;

        input[type=email] {
            width: 330px;

            @include responsive (mobileS) {
                width: 300px;
            }

            @include responsive (mobileL) {
                width: 400px;
            }
        }

        input[type=text] {
            width: 155px;
        }
    }

    .birthday {
        margin-bottom: 45px;

        h2 {
            @include font(18px, $nunito);
            color: $inputColor;
            margin-bottom: 14px;
        }

        .selects {
            gap: 22px;
        }

        .select {
            flex-direction: column;
        }

        select {
            margin-top: 4px;
            outline: none;
            width: 115px;
            height: 40px;
            border: 2px solid #AAA;
            background-color: #FFF;
            border-radius: 4px;
        }

        input {
            width: 100px;
            height: 40px;
        }
    }

    form {
        max-width: 515px;
    }

    .select-month {
        @include responsive(mobileS) {
            width: 100px !important;
        }
    }

    .break {
        display: none;

        @include responsive(mobileL) {
            display: block;
            flex-basis: 100%;
            height: 0;
        }
    }

    #inputAge {
        @include responsive(mobileL) {
            width: 115px !important;
        }
    }

    .next {
        margin-bottom: 60px;
        margin-top: 43px;
        justify-content: flex-end;

        .btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80px;
            height: 40px;
            border: 2px solid $primaryColor;
            background-color: #FFF;
            color: $primaryColor;
            cursor: pointer;
            // mudar bg-color com base na validacao do form
        }

        img {
            display: none; // mudar display com js com base na validacao do form
        }
    }
}