.second-tab 
{
    .linkedin {
        margin-bottom: 28px;
    }

    .github {
        margin-bottom: 270px;
    }

    .nextContainer {
        margin-bottom: 60px;
        margin-top: 43px;
        justify-content: flex-end;
        
        .btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80px;
            height: 40px;
            border: 2px solid $primaryColor;
            background-color: #FFF;
            color: $primaryColor;
            cursor: pointer; 
        }
    }

    #linkedinError, #githubError {
        color: red;
        margin-bottom: 20px;
    }
}