.tab {
    h1 {
        @include font(18px, $inter);
        line-height: 24px;
        font-weight: 600;
        margin-top: 55px;
        margin-bottom: 35px;
    }

    & > div {
        display: table;
        margin: 0 auto;
    }

    ul 
    {
        margin-bottom: 35px;
        li {
            text-align: center;
            padding: 13px 0;
            width: 170px;
            box-shadow: inset 0px -2px 0px #AAAAAA;
            @include font(16px, $nunito);
            cursor: pointer;
        }
    }
    
    form {
        max-width: 515px
    }

    label {
        @include font(14px, $nunito);
        color: $inputColor;
    }

    input {
        margin-top: 4px;
    }

    input::placeholder {
        @include font(16px, $nunito);
        color: $inputColor;
    }

    .linkedin {
        margin-bottom: 28px;
    }

    .github {
        margin-bottom: 270px;
    }

    .next {
        margin-bottom: 60px;
        margin-top: 43px;
        justify-content: flex-end;
        
        .btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80px;
            height: 40px;
            border: 2px solid $primaryColor;
            background-color: #FFF;
            color: $primaryColor;
            cursor: pointer;
            // mudar bg-color com base na validacao do form
        }
        img {
            display: none; // mudar display com js com base na validacao do form
        }
    }

}