.thirdTab {
    #certificates {
        
        .certificateContainer {
            position: relative;
        }

        .heart-icon {
            position: absolute;
            width: 15.68px;
            height: 13.67px;
            right: 13.16px;
            bottom: 30.5px;
            cursor: pointer;
        }

    }

    form {
        flex-direction: column;
        color: $inputColor;
   

        input {         
            margin-bottom: 33px;

        }

        .errorMessageStyle {
            font-size: 14px;
            color: red;
            margin: 6px 0;

        }
    }

    fieldset {
        display: flex;
        flex-direction: column;
    }

    button {
        align-self: flex-end;
        margin-bottom: 48px;
        width: 109px;
        justify-content: space-around;
        padding-bottom: 11px;
        padding-top: 11px;
    }

    .btnFinish {
        width: 91px;
        line-height: 18px;
        margin-top: 24px;
    }
}





