.thirdTab {
    max-width: 515px;
   
    #certificates { 
       
        .certificateContainer {
            position: relative;
            
        }

        #input-new-certificate {
            width: 100%;
        }
        
        .certificates-save {
            align-items: center;
            justify-content: space-between;
            position: relative;

            input {
                margin-bottom: 18px;
                max-width: 470px;
            }
    
            .heart-icon {
                position: absolute;
                width: 15.68px;
                height: 13.67px;
                right: 16.16px;
                bottom: 30.5px;
                cursor: pointer;
            }

            .trash-icon {
                position: absolute;
                width: 24px;
                height: 24px;
                right: - 2px;
                bottom: 25.5px;
                cursor: pointer;
            }
        }
       

    }

    form {
        flex-direction: column;
        color: $inputColor;

        label {
            margin-bottom: 4px;
            font-size: 14px;
        }

        input {
            max-width: 515px;
            height: 40px;
            margin-bottom: 33px;

        }
    }
    fieldset {
        display: flex;
        flex-direction: column;  
    }

    button {
        align-self: flex-end;
        margin-bottom: 48px;
        width: 109px;
        justify-content: space-around;
        padding-bottom: 11px;
        padding-top: 11px;
    }

    .btnFinish {
        width: 91px;
        line-height: 18px;
        margin-top: 24px;
    }

    .favorite {
        order: 1;
    }

    .not-favorite {
        order: 5;
    }

   
}