.viewTab {
  @include font(16px, $nunito);
    table {
      width: 100%;
    }
  
     td {
      height: 50px;
      vertical-align: bottom;
    }
     tr:hover {
      background-color: #f5f5f5;
    }
  
     th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  
    .teste {
      justify-content: space-between;
    }
  }