@import 'variables';

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

input {
  display: block;
  @include font(16px, $nunito);
  font-weight: 400;
  line-height: 18px;
  color: $inputColor;
  border: 2px solid #AAA;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  width: 515px;
  border-radius: 4px;
  padding: 11px 0 11px 12px;

@include responsive(mobileL){
  width: 330px;
  max-width: 515px;
  display: flex;
  padding-left: 12px;
}

&::placeholder {
  font-weight: 400;
  font-size: 16px;
}

@include responsive(mobileS){
  width: 280px;
}
}

.btnActive {
  background-color: $primaryColor!important;
  border: none;
  color: #FFF !important;

  img {
    display: block !important;
  }
}

.btn {
  padding: 11px 12px;
  border-radius: 4px;
  background-color: #FFF;
  @include font(16px, $nunito);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $primaryColor;
  border: 2px solid $primaryColor !important;
  outline: none;
  text-decoration: none;
  img {
    display: none;
  }
}

.container {
  max-width: 617px;
  margin: 0 auto !important;

  @include responsive(mobileL){
    max-width: 400px;
  }
  @include responsive(mobileS){
    max-width: 300px;
  }
  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }
}

.tab {
  h1 {
      @include font(18px, $inter);
      line-height: 24px;
      font-weight: 600;
      margin-top: 55px;
      margin-bottom: 35px;
  }

  & > div {
      display: table;
      margin: 0 auto;
  }

  ul 
  {
      flex-direction: column;
      align-content: center;
      @include responsive (tablet){
          flex-direction: row;
          align-content: none;
      }
      margin-bottom: 35px;
      li {
          @include responsive (mobileL){
              width: 400px;
          }
          @include responsive (mobileS){
              width: 300px;
          }
          text-align: center;
          padding: 13px 0;
          width: 170px;
          box-shadow: inset 0px -2px 0px #AAAAAA;
          @include font(16px, $nunito);
          cursor: pointer;
      }
  }    

  label {
      @include font(14px, $nunito);
      color: $inputColor;
    
  }

  input {
      margin-top: 4px;
      @include responsive (mobileL){
          width: 400px;
      }
      @include responsive (mobileS) {
          width: 300px;
      }
  }

  input::placeholder {
      @include font(16px, $nunito);
      color: $inputColor;
  }

  .errorMessageStyle {
    @include font(14px, $nunito);
    color: red;
    margin: 6px 0;
    display: block;
}
}


.active {
  color: $primaryColor;
  box-shadow: inset 0px -3px 0px $primaryColor !important;
}

.invisible {
  display: none !important;
}

button {
  cursor: pointer;
}
