@import 'variables';

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

input {
  display: block;
  @include font(16px, $nunito);
  font-weight: 400;
  line-height: 18px;
  color: $inputColor;
  border: 2px solid #AAA;
  outline: none;
  box-sizing: border-box;
  padding: 11px 0 11px 12px;
  width: 510px;
  border-radius: 4px;
  padding-left: 12px;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
}

.btnActive {
  background-color: #FFF !important;
  color: $primaryColor !important;
  border: 2px solid $primaryColor !important;
}

.btn {
  padding: 15px 12px 15px 12px;
  background-color: $primaryColor;
  border-radius: 4px; 
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #FFF;
  border: none;
  outline: none;
  text-decoration: none;
}

.container {
  max-width: 617px;
  margin: 0 auto;

  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }
}

.active {
  color: $primaryColor;
  box-shadow: inset 0px -3px 0px $primaryColor !important;
}