@import 'variables';

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

input {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #767676;
  border: 2px solid #AAA;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.btnActive {
  background-color: #FFF;
  border: 2px solid #074EE8;
}

.btn {
  padding: 0px 12px 0px 12px;
  background-color: #074EE8;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #FFF;
  border: none;
  outline: none;
  text-decoration: none;
}

.container {
  max-width: 617px;
  margin: 0 auto;
  
  &::after,
  &::before {
  content: "";
  display: table;
  clear: both;
  }
 }
  
 .active {
  color: $primaryColor;
  box-shadow: inset 0px -3px 0px $primaryColor !important;
 }