@import 'variables';

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

input {
  display: block;
  @include font(16px, $nunito);
  font-weight: 400;
  line-height: 18px;
  color: $inputColor;
  border: 2px solid #AAA;
  outline: none;
  box-sizing: border-box;
  padding: 11px 0 11px 12px;
  width: 510px;
  border-radius: 4px;

@include responsive(mobileL){
  width: 330px;
}

@include responsive(mobileS){
  width: 280px;
}
}
.btnActive {
  background-color: #FFF;
  border: 2px solid $primaryColor;
}

.btn {
  padding: 11px 12px;
  background-color: $primaryColor;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #FFF;
  border: none;
  outline: none;
  text-decoration: none;
}

.container {
  max-width: 617px;
  margin: 0 auto;

  @include responsive(mobileL){
    max-width: 400px;
  }
  @include responsive(mobileS){
    max-width: 300px;
  }
  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }
}

.active {
  color: $primaryColor;
  box-shadow: inset 0px -3px 0px $primaryColor !important;
}

.invisible {
  display: none;
}