@import 'variables';

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

input {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #767676;
  border: 2px solid #AAA;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  max-width: 515px;
  display: flex;
  padding-left: 12px;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
}

.btnActive {
  background-color: $primaryColor!important;
  border: none;
  color: #FFF !important;
}

.btn {
  padding: 15px 12px 15px 12px;
  background-color: #FFF;
  border-radius: 4px; 
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $primaryColor;
  border: 2px solid $primaryColor !important;
  outline: none;
  text-decoration: none;
}

.active {
  color: $primaryColor;
  box-shadow: inset 0px -3px 0px $primaryColor !important;
}

button {
  cursor: pointer;
}