/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

input {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #767676;
  border: 2px solid #AAA;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11px 0 11px 12px;
  width: 510px;
  border-radius: 4px;
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  input {
    width: 330px;
  }
}

@media only screen and (max-width: 424px) {
  input {
    width: 280px;
  }
}

.btnActive {
  background-color: #FFF;
  border: 2px solid #074EE8;
}

.btn {
  padding: 11px 12px;
  background-color: #074EE8;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #FFF;
  border: none;
  outline: none;
  text-decoration: none;
}

.container {
  max-width: 617px;
  margin: 0 auto;
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .container {
    max-width: 400px;
  }
}

@media only screen and (max-width: 424px) {
  .container {
    max-width: 300px;
  }
}

.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

.active {
  color: #074EE8;
  -webkit-box-shadow: inset 0px -3px 0px #074EE8 !important;
          box-shadow: inset 0px -3px 0px #074EE8 !important;
}

.invisible {
  display: none;
}

.tab h1 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-top: 55px;
  margin-bottom: 35px;
}

.tab > div {
  display: table;
  margin: 0 auto;
}

.tab ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 35px;
}

@media only screen and (min-width: 768px) {
  .tab ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: none;
        align-content: none;
  }
}

.tab ul li {
  text-align: center;
  padding: 13px 0;
  width: 170px;
  -webkit-box-shadow: inset 0px -2px 0px #AAAAAA;
          box-shadow: inset 0px -2px 0px #AAAAAA;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .tab ul li {
    width: 400px;
  }
}

@media only screen and (max-width: 424px) {
  .tab ul li {
    width: 300px;
  }
}

.tab label {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #767676;
}

.tab input {
  margin-top: 4px;
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .tab input {
    width: 400px;
  }
}

@media only screen and (max-width: 424px) {
  .tab input {
    width: 300px;
  }
}

.tab input::-webkit-input-placeholder {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #767676;
}

.tab input:-ms-input-placeholder {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #767676;
}

.tab input::-ms-input-placeholder {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #767676;
}

.tab input::placeholder {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #767676;
}

.tab .name {
  margin-bottom: 28px;
}

.tab .nickname {
  margin-bottom: 20px;
}

.tab .check {
  gap: 8px;
}

.tab .check p {
  margin: auto 0;
}

.tab .check input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.tab .info-flex {
  gap: 25px;
  margin-bottom: 28px;
}

.tab .info-flex input[type=email] {
  width: 330px;
}

@media only screen and (max-width: 424px) {
  .tab .info-flex input[type=email] {
    width: 300px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .tab .info-flex input[type=email] {
    width: 400px;
  }
}

.tab .info-flex input[type=text] {
  width: 155px;
}

.tab .birthday {
  margin-bottom: 45px;
}

.tab .birthday h2 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #767676;
  margin-bottom: 14px;
}

.tab .birthday .selects {
  gap: 22px;
}

.tab .birthday .select {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab .birthday select {
  margin-top: 4px;
  outline: none;
  width: 115px;
  height: 40px;
  border: 2px solid #AAA;
  background-color: #FFF;
  border-radius: 4px;
}

.tab .birthday input {
  width: 100px;
  height: 40px;
}

.tab form {
  max-width: 515px;
}

@media only screen and (max-width: 424px) {
  .tab .select-month {
    width: 100px !important;
  }
}

.tab .break {
  display: none;
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .tab .break {
    display: block;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 0;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .tab #inputAge {
    width: 115px !important;
  }
}

.tab .next {
  margin-bottom: 60px;
  margin-top: 43px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tab .next .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 40px;
  border: 2px solid #074EE8;
  background-color: #FFF;
  color: #074EE8;
  cursor: pointer;
}

.tab .next img {
  display: none;
}
/*# sourceMappingURL=style.css.map */